<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
        {% endif %}
            <h1>{{ site.description }}</h1>
            <h2>{{ site.author }}</h2>

        </header>
    </section>
    <section id="wrapper">
        <section id="post-body">
            <h1>De gezamenlijke Vlaamse onderzoeksgemeenschap trekt aan de alarmbel</h1>
            <p>Het Fonds voor Wetenschappelijk Onderzoek (FWO) kampt met een structureel gebrek aan middelen om fundamenteel wetenschappelijk onderzoek te financieren.  Onze Vlaamse kennismaatschappij komt hierdoor ernstig in het gedrang.  Investeren in menselijk kapitaal en opbouw van kennis vormt nochtans de sleutel om grote maatschappelijke vraagstukken zoals duurzame energieconsumptie, klimaatverandering, vergrijzing,.. het hoofd te bieden.  Als er niet dringend actie wordt ondernomen, dreigt Vlaanderen hopeloos achterop te geraken met een verschraling van ons kennispotentieel tot gevolg.   De Vlaamse regering moet dringend kleur bekennen.  Wil ze duurzaam omgaan met ons kennispotentieel - toch één van onze meest waardevolle grondstoffen - of niet?
            </p>
            <p>
                Lees de volledige brief aan de Vlaamse regering onderaan deze pagina.
            </p>
            <br/>
            <h1>The entire Flemish research community is sounding the alarm bell</h1>
            <p>The 'Fonds voor Wetenschappelijk Onderzoek' (FWO – Foundation for Scientific Research) is facing a structural funding gap for financing fundamental scientific research.  As a result, our Flemish knowledge society is under serious threat.  Investing in human capital and the accumulation of knowledge is the key to finding solutions to major issues such as sustainable energy consumption, climate change, and ageing populations, etc.  If urgent action is not taken, Flanders risks falling hopelessly behind, with a reduction in our knowledge potential as a consequence.   The Flemish government urgently needs to nail its colours to the mast.  Is there a desire to adopt a sustainable policy with regard to our knowledge potential – which after all is one of our most valuable assets – or not?     

            </p>
            <p>
                Lees de volledige brief aan de Vlaamse regering onderaan deze pagina.
            </p>

        </section>
    </section>
    </hr>
    <section id="wrapper">
        <iframe src="https://www.change.org/embed/p/8227217/preview" style="text-align:center;width:100%; height:600px;"></iframe>
    </section>
</div>
